.dialog-list {
    width: 20vw;
    height: 100%;
    background-color: bisque;
    border: 2px solid grey;
}

.dialog {
    width: 100%;
    padding: 5%;
}

.active {
    background-color: darkseagreen;
    font-weight: bold;
}
