.container {
    width: 100%;
    height: 20vh;
}

.text { 
    height: 80%;
    border: none;
    border-radius: 2px;
    flex-grow: 1;
}
.form {
    display: flex;
}

.send-btn {
    background-color: blueviolet;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    color: white;
    font-size: 2rem;
    cursor: pointer;
}
